@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
    color:#fff;

}
.counter{
    font-size: 60px;
    
}
.counter-content{
    text-align: center;
    margin: 20px 50px;
}
@media (max-width:600px) {
    body{
        flex-direction: column;
    }
}